<div class="picker">
  <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  <ion-img
  role="button"
  (click)="onPickLocation()"
  [src]="selectedLocationImage"
  *ngIf="selectedLocationImage && !isLoading && showPreview"
  class="locationImage"></ion-img>
  <ion-button color="primary" (click)="onPickLocation()" *ngIf="!selectedLocationImage || (!showPreview && !isLoading)">
    <ion-icon name="map" slot="start"></ion-icon>
    <ion-label>Select location</ion-label>
  </ion-button>
</div>

